### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_purchase_data = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
df_purchase_data = pd.read_csv(file_purchase_data)
df_purchase_data = df_purchase_data.rename(columns={"SN":"Player Name"})

## Player Count

* Display the total number of players

In [2]:
#Display total Number of Players, 
total_players = df_purchase_data["Player Name"].nunique()
print(f"Total Number of Players: {total_players}")

Total Number of Players: 576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
#Get the number of Unique Items, "nunique" will give the count of unique items
#unique will give the list of unique items. 
num_of_unique_items = df_purchase_data["Item ID"].nunique()

#Average purchase price, "mean" will give the average value of the column referred 
average_purchase_price = df_purchase_data["Price"].mean()

#Total Nummber of Purchases, "count" of each purchase IDs
total_purchases = df_purchase_data["Purchase ID"].count()

#Total Revenue is the sum of all the Purchase price
total_revenue = df_purchase_data["Price"].sum()

#Create a Summary dataframe with the values calculated. 
#Index is supplied, as all the values are scalar (single).
df_purchasing_analysis = pd.DataFrame({"Number of Unique Items" : num_of_unique_items,
                                       "Average Purchase Price" : average_purchase_price,
                                       "Total Number of Purchases" : total_purchases, 
                                       "Total Revenue" : total_revenue
                                      }, index=[0])

#Format counts with comma(,) seperated
df_purchasing_analysis["Number of Unique Items"] = df_purchasing_analysis["Number of Unique Items"].map("{:,}".format)
df_purchasing_analysis["Total Number of Purchases"] = df_purchasing_analysis["Total Number of Purchases"].map("{:,}".format)

#Format price data with currency symbol, and float value (2 decimals)
df_purchasing_analysis["Average Purchase Price"] = df_purchasing_analysis["Average Purchase Price"].map("${:,.2f}".format)
df_purchasing_analysis["Total Revenue"] = df_purchasing_analysis["Total Revenue"].map("${:,.2f}".format)

#Display the Purchase Analysis Summary
df_purchasing_analysis

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,183,$3.05,780,"$2,379.77"

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
#For purchase data analysis by gender, group the purchase data by Gender
df_purchase_byGender = df_purchase_data.groupby("Gender")

In [5]:
#Calculate Count of Players in each gender category, "nunique" give the count of unique values
#and percentage of players in each gender category, "lambda" give the opertunity to use simple calculations.
df_gender_demography = df_purchase_byGender \
    .agg(
    {
        "Player Name": ["nunique", lambda x: x.nunique() / total_players] 
    })        

#Renaming the coulmns, more descriptively. 
column_names = ["Total Number of Players","Percentage of Players"]
df_gender_demography.columns=column_names

#Sort the Gender Demographic summary, based on the Player Count in each category
df_gender_demography = df_gender_demography.sort_values("Total Number of Players", ascending=False)

#display format the Gender Demography data
df_gender_demography["Total Number of Players"] = df_gender_demography["Total Number of Players"].map("{:,}".format)
df_gender_demography["Percentage of Players"] = df_gender_demography["Percentage of Players"].map("{:.2%}".format)

#Display Gender Demography of Players
df_gender_demography

                      Total Number of Players Percentage of Players
Gender
Male                                      484                84.03%
Female                                     81                14.06%
Other / Non-Disclosed                      11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
#Calculate Count of Players in each gender category, "nunique" give the count of unique values
#and purchase count using nunique
#average price using mean, and total revenue using sum on the price field. 
df_gender_purchase_analysis = df_purchase_byGender \
    .agg(
    {
        "Player Name" : "nunique",
        "Purchase ID" : "nunique", 
        "Price" : ["mean", "sum"]
    })    

#Renaming the coulmns, more descriptively. 
column_names = ["Unique Player Count","Purchase Count","Average Purchase Price", "Total Purchase Value"]
df_gender_purchase_analysis.columns=column_names

#Calculate the Average total purchase cost per person
df_gender_purchase_analysis["Avg Total Purchase per Person"] = df_gender_purchase_analysis["Total Purchase Value"] / df_gender_purchase_analysis["Unique Player Count"]

#Sort the Gender Purchase summary, based on the Purchase Count in each gender category
#df_gender_purchase_analysis = df_gender_purchase_analysis.sort_values("Purchase Count", ascending=False)

#display format the Gender Demography data
df_gender_purchase_analysis["Purchase Count"] = df_gender_purchase_analysis["Purchase Count"].map("{:,}".format)
df_gender_purchase_analysis["Average Purchase Price"] = df_gender_purchase_analysis["Average Purchase Price"].map("${:,.2f}".format)
df_gender_purchase_analysis["Total Purchase Value"] = df_gender_purchase_analysis["Total Purchase Value"].map("${:,.2f}".format)
df_gender_purchase_analysis["Avg Total Purchase per Person"] = df_gender_purchase_analysis["Avg Total Purchase per Person"].map("${:,.2f}".format)

#Display Gender Purchase summary of Players
df_gender_purchase_analysis[["Purchase Count","Average Purchase Price", "Total Purchase Value","Avg Total Purchase per Person"]]

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [7]:
#For purchase data analysis by Age Group, Create Age groups using bins and labels.
#Create Bins for ages
bins = [0, 9, 14, 19, 24, 29, 34, 39, 150]

# Create labels for the each of the bins
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

#Assign each age, a age group, and store it in a new field.
df_purchase_data["Age Group"] = pd.cut(df_purchase_data["Age"], bins, labels=group_names)

#Group the Purchase data based on the newly assigned Age Groups.
df_purchase_byAgeGroup = df_purchase_data.groupby("Age Group")

In [8]:
#Calculate Count of Players in each age group, "nunique" give the count of unique values
#and percentage of players in each age category, "lambda" give the opertunity to use simple calculations.
df_age_demography = df_purchase_byAgeGroup \
    .agg(
    {
        "Player Name": ["nunique", lambda x: x.nunique() / total_players] 
    })        

#Renaming the coulmns, more descriptively. 
column_names = ["Total Number of Players","Percentage of Players"]
df_age_demography.columns=column_names

#Sort the Age Demographic summary, based on the Player Count in each category
#df_age_demography = df_age_demography.sort_values("Total Number of Players", ascending=False)

#display format the Age Demography data
df_age_demography["Total Number of Players"] = df_age_demography["Total Number of Players"].map("{:,}".format)
df_age_demography["Percentage of Players"] = df_age_demography["Percentage of Players"].map("{:.2%}".format)

#Display age Demography of Players
df_age_demography

          Total Number of Players Percentage of Players
Age Group
<10                            17                 2.95%
10-14                          22                 3.82%
15-19                         107                18.58%
20-24                         258                44.79%
25-29                          77                13.37%
30-34                          52                 9.03%
35-39                          31                 5.38%
40+                            12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [9]:
#Calculate Count of Players in each gender category, "nunique" give the count of unique values
#and purchase count using nunique
#average price using mean, and total revenue using sum on the price field. 
df_age_purchase_analysis = df_purchase_byAgeGroup \
    .agg(
    {
        "Player Name" : "nunique",
        "Purchase ID" : "nunique", 
        "Price" : ["mean", "sum"]
    })    

#Renaming the coulmns, more descriptively. 
column_names = ["Unique Player Count","Purchase Count","Average Purchase Price", "Total Purchase Value"]
df_age_purchase_analysis.columns=column_names

#Calculate the Average total purchase cost per person
df_age_purchase_analysis["Avg Total Purchase per Person"] = df_age_purchase_analysis["Total Purchase Value"] / df_age_purchase_analysis["Unique Player Count"]

#Sort the age group Purchase summary, based on the Purchase Count in each age group category
#df_age_purchase_analysis = df_age_purchase_analysis.sort_values("Purchase Count", ascending=False)

#display format the age purchase summary data
df_age_purchase_analysis["Purchase Count"] = df_age_purchase_analysis["Purchase Count"].map("{:,}".format)
df_age_purchase_analysis["Average Purchase Price"] = df_age_purchase_analysis["Average Purchase Price"].map("${:,.2f}".format)
df_age_purchase_analysis["Total Purchase Value"] = df_age_purchase_analysis["Total Purchase Value"].map("${:,.2f}".format)
df_age_purchase_analysis["Avg Total Purchase per Person"] = df_age_purchase_analysis["Avg Total Purchase per Person"].map("${:,.2f}".format)

#Display age Purchase summary of Players
df_age_purchase_analysis[["Purchase Count","Average Purchase Price", "Total Purchase Value","Avg Total Purchase per Person"]]

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Group,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [10]:
#For purchase data analysis by gender, group the purchase data by Gender
df_purchase_byPlayer = df_purchase_data.groupby("Player Name")

In [11]:
#calculate purchase count using nunique for each Player
#average price using mean, and total purchase using sum on the price field. 
df_player_spendings = df_purchase_byPlayer \
    .agg(
    {        
        "Purchase ID" : "nunique", 
        "Price" : ["mean", "sum"]
    }) 

#Renaming the coulmns, more descriptively. 
column_names = ["Purchase Count","Average Purchase Price", "Total Purchase Value"]
df_player_spendings.columns=column_names

#Sort the player spending data by total purchase value from high to low
df_player_spendings = df_player_spendings.sort_values("Total Purchase Value", ascending=False)

#display format the player spending data
df_player_spendings["Purchase Count"] = df_player_spendings["Purchase Count"].map("{:,}".format)
df_player_spendings["Average Purchase Price"] = df_player_spendings["Average Purchase Price"].map("${:,.2f}".format)
df_player_spendings["Total Purchase Value"] = df_player_spendings["Total Purchase Value"].map("${:,.2f}".format)

#Display player purchase summary with top 5 players by spendings
df_player_spendings.head()

            Purchase Count Average Purchase Price Total Purchase Value
Player Name
Lisosia93                5                  $3.79               $18.96
Idastidru52              4                  $3.86               $15.45
Chamjask73               3                  $4.61               $13.83
Iral74                   4                  $3.40               $13.62
Iskadarya95              3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [12]:
#For purchase data analysis by Item, Get data this is needed. 
df_items = df_purchase_data[["Item ID", "Item Name", "Price", "Purchase ID"]]

#group the purchase data by Item ID and Item Name
df_purchase_byItem = df_items.groupby(["Item ID", "Item Name"])

In [13]:
#calculate purchase count using nunique for each items
#min to get the price of the item, since unique gives the value as list. 
#and total purchase using sum on the price field. 
df_item_summary = df_purchase_byItem \
    .agg(
    {        
        "Purchase ID" : "nunique", 
        "Price" : ["min", "sum"]
    }) 

#Renaming the coulmns, more descriptively. 
column_names = ["Purchase Count","Item Price", "Total Purchase Value"]
df_item_summary.columns=column_names

#Sort the item summary by purchase count, to sort by most popular to least popular items.
df_most_popular_item = df_item_summary.sort_values("Purchase Count", ascending=False)

#display format the item data
df_most_popular_item["Purchase Count"] = df_most_popular_item["Purchase Count"].map("{:,}".format)
df_most_popular_item["Item Price"] = df_most_popular_item["Item Price"].map("${:,.2f}".format)
df_most_popular_item["Total Purchase Value"] = df_most_popular_item["Total Purchase Value"].map("${:,.2f}".format)

# #Display top 5 popular items based on purchase count. 
df_most_popular_item.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [14]:
#Sort the item summary by total purchase value, from most profitable to least
df_most_profitable_item = df_item_summary.sort_values("Total Purchase Value", ascending=False)

#display format the item data
df_most_profitable_item["Purchase Count"] = df_most_profitable_item["Purchase Count"].map("{:,}".format)
df_most_profitable_item["Item Price"] = df_most_profitable_item["Item Price"].map("${:,.2f}".format)
df_most_profitable_item["Total Purchase Value"] = df_most_profitable_item["Total Purchase Value"].map("${:,.2f}".format)

# #Display top 5 items based on revenue. 
df_most_profitable_item.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80