### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_purchase_data = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
df_purchase_data = pd.read_csv(file_purchase_data)
df_purchase_data = df_purchase_data.rename(columns={"SN":"Player Name"})
df_purchase_data.head()

,Purchase ID,Player Name,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
#Display total Number of Players, 
total_players = df_purchase_data["Player Name"].nunique()
print(f"Total Number of Players: {total_players}")

Total Number of Players: 576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
#Get the number of Unique Items, "nunique" will give the count of unique items
#unique will give the list of unique items. 
num_of_unique_items = df_purchase_data["Item ID"].nunique()

#Average purchase price, "mean" will give the average value of the column referred 
average_purchase_price = df_purchase_data["Price"].mean()

#Total Nummber of Purchases, "count" of each purchase IDs
total_purchases = df_purchase_data["Purchase ID"].count()

#Total Revenue is the sum of all the Purchase price
total_revenue = df_purchase_data["Price"].sum()

#Create a Summary dataframe with the values calculated. 
#Index is supplied, as all the values are scalar (single).
df_purchasing_analysis = pd.DataFrame({"Number of Unique Items" : num_of_unique_items,
                                       "Average Purchase Price" : average_purchase_price,
                                       "Total Number of Purchases" : total_purchases, 
                                       "Total Revenue" : total_revenue
                                      }, index=[0])

#Format counts with comma(,) seperated
df_purchasing_analysis["Number of Unique Items"] = df_purchasing_analysis["Number of Unique Items"].map("{:,}".format)
df_purchasing_analysis["Total Number of Purchases"] = df_purchasing_analysis["Total Number of Purchases"].map("{:,}".format)

#Format price data with currency symbol, and float value (2 decimals)
df_purchasing_analysis["Average Purchase Price"] = df_purchasing_analysis["Average Purchase Price"].map("${:,.2f}".format)
df_purchasing_analysis["Total Revenue"] = df_purchasing_analysis["Total Revenue"].map("${:,.2f}".format)

#Display the Purchase Analysis Summary
df_purchasing_analysis

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,183,$3.05,780,"$2,379.77"

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
#For purchase data analysis by gender, group the purchase data by Gender
df_purchase_byGender = df_purchase_data.groupby("Gender")

In [6]:
#Calculate Count of Players in each gender category, "nunique" give the count of unique values
#and percentage of players in each gender category, "lambda" give the opertunity to use simple calculations.
df_gender_demography = df_purchase_byGender \
    .agg(
    {
        "Player Name": ["nunique", lambda x: x.nunique() / total_players] 
    })        

#Renaming the coulmns, more descriptively. 
column_names = ["Total Number of Players","Percentage of Players"]
df_gender_demography.columns=column_names

#display format the Gender Demography data
df_gender_demography["Total Number of Players"] = df_gender_demography["Total Number of Players"].map("{:,}".format)
df_gender_demography["Percentage of Players"] = df_gender_demography["Percentage of Players"].map("{:.2%}".format)

#Sort the Gender Demographic summary, based on the Player Count in each category
df_gender_demography = df_gender_demography.sort_values("Total Number of Players", ascending=False)

#Display Gender Demography of Players
df_gender_demography

                      Total Number of Players Percentage of Players
Gender
Female                                     81                14.06%
Male                                      484                84.03%
Other / Non-Disclosed                      11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [8]:
#Calculate Count of Players in each gender category, "nunique" give the count of unique values
#and percentage of players in each gender category, "lambda" give the opertunity to use simple calculations.
df_gender_purchase_analysis = df_purchase_byGender \
    .agg(
    {
        "Player Name" : "nunique",
        "Purchase ID" : "nunique", 
        "Price" : ["mean", "sum"]
    })    

df_gender_purchase_analysis

#Renaming the coulmns, more descriptively. 
column_names = ["Unique Player Count","Purchase Count","Average Purchase Price", "Total Purchase Value"]
df_gender_purchase_analysis.columns=column_names

#Calculate the Average total purchase cost per person
df_gender_purchase_analysis["Avg Total Purchase per Person"] = df_gender_purchase_analysis["Total Purchase Value"] / df_gender_purchase_analysis["Unique Player Count"]

#display format the Gender Demography data
df_gender_purchase_analysis["Purchase Count"] = df_gender_purchase_analysis["Purchase Count"].map("{:,}".format)
df_gender_purchase_analysis["Average Purchase Price"] = df_gender_purchase_analysis["Average Purchase Price"].map("${:,.2f}".format)
df_gender_purchase_analysis["Total Purchase Value"] = df_gender_purchase_analysis["Total Purchase Value"].map("${:,.2f}".format)
df_gender_purchase_analysis["Avg Total Purchase per Person"] = df_gender_purchase_analysis["Avg Total Purchase per Person"].map("${:,.2f}".format)

#Sort the Gender Purchase summary, based on the Purchase Count in each gender category
#df_gender_purchase_analysis = df_gender_purchase_analysis.sort_values("Purchase Count", ascending=False)

#Display Gender Purchase summary of Players
df_gender_purchase_analysis[["Purchase Count","Average Purchase Price", "Total Purchase Value","Avg Total Purchase per Person"]]

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [ ]:
#For purchase data analysis by Age, group the purchase data by Age
#Create Bins for ages
bins = [0, 59, 69, 79, 89, 100]
df_purchase_byAge = df_purchase_data.groupby("Age")

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame