### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_purchase_data = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
df_purchase_data = pd.read_csv(file_purchase_data)
df_purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
#Display total Number of Players
total_players = len(df_purchase_data["SN"].unique())
print(f"Total Players: {total_players}")

Total Players: 576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [20]:
num_of_unique_items = len(df_purchase_data["Item ID"].unique())
#print(num_of_unique_items)
average_purchase_price = df_purchase_data["Price"].mean()
#print("${:,.2f}".format(average_purchase_price))
total_purchases = df_purchase_data["Purchase ID"].count()
#print(total_purchases)
total_revenue = df_purchase_data["Price"].sum()
#print(total_revenue)
df_purchasing_analysis = pd.DataFrame({"Number of Unique Items" : num_of_unique_items,
                                       "Average Purchase Price" : average_purchase_price,
                                       "Total Number of Purchases" : total_purchases, 
                                       "Total Revenue" : total_revenue
                                      }, index=[0])
df_purchasing_analysis["Average Purchase Price"] = df_purchasing_analysis["Average Purchase Price"].map("${:,.2f}".format)
df_purchasing_analysis["Total Revenue"] = df_purchasing_analysis["Total Revenue"].map("${:,.2f}".format)
df_purchasing_analysis

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,183,$3.05,780,"$2,379.77"

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [24]:
df_gender_demography = df_purchase_data.groupby("Gender")
df_gender_demography.describe()
#unq = df_gender_demography["count"].unique()
#print(unq)

                      Purchase ID                                        \
                            count        mean         std   min     25%
Gender
Female                      113.0  379.380531  211.605484  15.0  199.00
Male                        652.0  392.516871  227.516414   0.0  193.75
Other / Non-Disclosed        15.0  334.600000  234.524991   9.0  169.50

                                               Age             ... Item ID  \
                         50%     75%    max  count       mean  ...     75%
Gender                                                         ...
Female                 392.0  558.00  775.0  113.0  21.345133  ...   129.0
Male                   390.5  592.25  779.0  652.0  22.917178  ...   141.0
Other / Non-Disclosed  291.0  516.50  747.0   15.0  24.200000  ...   141.0

                              Price                                          \
                         max  count      mean       std   min     25%   50%
Gender
Female                 183.0  113.0  3.203009  1.158194  1.00  2.2800  3.45
Male                   183.0  652.0  3.017853  1.175625  1.00  1.9625  3.09
Other / Non-Disclosed  163.0   15.0  3.346000  0.883813  1.33  3.1000  3.45


                         75%   max
Gender
Female                 4.230  4.90
Male                   4.080  4.99
Other / Non-Disclosed  3.875  4.75

[3 rows x 32 columns]


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame